body,
html {
  height: 100%;
  padding: 0px;
  margin: 0px;
}

/* Bootstrap CSS */

body {

  background-color: rgb(35, 35, 105) !important;

  /* display: -ms-flexbox; */
  /* display: -webkit-box; */
  /* display: flex; */
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;

  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: grey;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

* {
  box-sizing: border-box;
}

/* Style the search field */
form.example input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 100%;
  background: #f1f1f1;
}

#stateInput {
  text-align: center;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

/* Styles the information text */
.covid-data {
  color: white;
  text-align: center !important;
  font-size: 22px;
  margin: 0px;
  padding: 0px;
  text-shadow: 2px 2px 4px #000000;
}

.rotate {
  animation: rotation 10s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* Styles for jumbotron */
.jumbotron-fluid {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("covidbg.PNG");
  background-size: cover;
  background: contain;
  background-position: center;
  height: 100%;
  width: 100%;
  padding-top: 75px;
  padding-bottom: 75px;

  overflow: hidden;

  align-items: center;
  display: flex;
}

/* Styles for learn more button */
.learnMore {
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 20px;
  text-decoration: none;
  color: #0086d9;
  line-height: 20px;
  animation: zoominoutsinglefeatured 1s infinite;
}

.learnMore:hover {
  color: #0069d974;
  text-decoration: none;
}

@keyframes zoominoutsinglefeatured {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}

/* Styling for learn more section */
.learnMoreSection {
  width: 100%;
  margin-top: 15px;
  color: white;
}

/* Styles for footer */
footer {
  /* text-align: center; */
  height: 75px;
  bottom: 0;
  background-color: black;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

footer p {
  color: #ccc;
}

.card {
  margin: auto;
}

.newsArticle {
  background-color: rgb(70, 70, 70) !important;
}

hr {
  background-color: white !important;
}
